<mat-toolbar>
  <span class="tool-bar">Rater-Gator</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="classroomName">
    <th mat-header-cell *matHeaderCellDef [style.width.%]="60">Classroom</th>
    <td mat-cell *matCellDef="let chairRating">{{ chairRating.classroomName }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef [style.width.%]="40">Rating</th>
    <td mat-cell *matCellDef="let chairRating">{{ chairRating.rating }}</td>
    <td mat-footer-cell *matFooterCellDef>
      <button mat-button class="add-button" (click)="openNewDialog()">Add</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let chairRating; columns: displayedColumns;" (click)="openEditDialog(chairRating)"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table>
