<h2>Location:</h2>
<mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select multiple id="subjectSelect" #mySelect (selectionChange)="onChange(mySelect.value)">
        <mat-option *ngFor="let subject of subjects" [value]="subject['Name']">{{subject['Name']}}</mat-option>
    </mat-select>
</mat-form-field>

<form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="Add New Location: ">
            Location:
        </label>
        <input id="Name" type="text" formControlName="Name">
    </div>
    <button mat-raised-button color="primary">Add Location</button>
</form>