<h2>New Review:</h2>
<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="subject">
            Location:
        </label>
        <input id="subject" type="text" formControlName="subject">
    </div>

    <div>
        <label for="rating">
            Rating:
        </label>
        <input id="rating" type="number" formControlName="rating">
    </div>

    <div>
        <label for="description">
            Description:
        </label>
        <input id="description" type="text" formControlName="description">
    </div>

    <div>
        <label for="author">
            Name:
        </label>
        <input id="author" type="text" formControlName="author">
    </div>

    <app-submit-button></app-submit-button>
</form>
<hr>
<br>


