<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="location">
            Location:
        </label>
        <input id="location" type="text" formControlName="location">
    </div>

    <div>
        <label for="rating">
            Rating:
        </label>
        <input id="rating" type="number" formControlName="rating">
    </div>

    <div>
        <label for="description">
            Description:
        </label>
        <input id="description" type="text" formControlName="description">
    </div>

    <div>
        <label for="author">
            Name:
        </label>
        <input id="author" type="text" formControlName="author">
    </div>

    <app-submit-button></app-submit-button>
</form>
<hr>

<div *ngFor="let review of reviews">
    <h2>Review Heading</h2>
    <b>Location:</b> {{review.location}}
    <br>
    <b>Rating:</b> {{review.rating}}
    <br>
    <b>Description:</b> {{review.description}}
    <br>
    <b>Author:</b> {{review.author}}
    <br>
    <hr>
</div>
