<style>
    .center {
        margin: auto;
        width: 5%;
    }
</style>

<p>
    <mat-toolbar color="primary">
        <span class="center">
            <a routerLink="/">
                <span>Rater Gator</span>
            </a>
        </span>
        <span class="example-spacer"></span>
        <a routerLink="/add-review">
            <button mat-icon-button color="basic" class="example-icon favorite-icon">
                <mat-icon>add</mat-icon>
            </button>
        </a>
    </mat-toolbar>
</p>